<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>Sistema de Equipamentos</title>
</head>

<body>

    <div id="principal">

        <h1>Sistema de Equipamentos</h1>

        <p class="usuario">
            Bem-vindo,
            <strong>{{ nome }}</strong>
        </p>

        <div class="menu">

            <button onclick="abrirCadastro()">
                Cadastro de Equipamentos
            </button>

            <button onclick="abrirGestao()">
                Gestão de Equipamentos
            </button>

            <button onclick="abrirRegistro()">
                Registro de Movimentação
            </button>

            <button onclick="logout()">
                Logout
            </button>

        </div>

    </div>

    <script src="{{ url_for('static', filename='js/gestão.js') }}"></script>

</body>

</html>